<section class="jumbotron jumbotron-fluid m-0">
  <div class='headline-image' style='background-image: url(<%= image_url("coffee.png") %>)'></div>


  <div class='row'>
    <div class='col-md-6 offset-md-3 col-lg-4 offset-lg-4'>
      <div class='login-box'>
        <p class='eco-green text-center'>Hi There!</p>
        <br>
        <p>Please check back by May 30th, 2018 for an updated page with investor's invormation<p>
        <br>
        <br>
        <div style="text-align: center;">
        <%= link_to 'Back', href="/", class: 'btn turquoise-btn my-2 my-sm-0' %>
        </div>
        <br>


        <!--<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <%= devise_error_messages! %>

          <div class="field form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="field form-group">
            <label for="password">
              Password
              <% if @minimum_password_length %>
                <small class="text-muted">
                  (<%= @minimum_password_length %> characters minimum)
                </small>
              <% end %>
            </label>

            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"%>
          </div>

          <%= f.hidden_field :referrer_id, value: @referrer_id %>

          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-block turquoise-btn' %>
          </div>
        <% end %>-->
      </div>
    </div>
  </div>
</section>
