<section class='featured-section pl-5 pr-5'>
  <h5 class='title white'>Featured On</h5>
  <div class='d-flex flex-wrap flex-row justify-content-around align-items-center'>

    <a href="http://6abc.com/technology/" target='_blank' class='partner'>
      <%= image_tag 'abc.png', class: ' reduce' %>
    </a>
    
    <a href="http://cbs.com/" target='_blank' class='partner'>
      <%= image_tag 'cbs.png', class: 'small-size' %>
    </a>

    <a href="https://mashable.com/" target='_blank' class='partner'>
      <%= image_tag 'mashable.png', class: 'small-size' %>
    </a>

    <a href="http://people.com/" target='_blank' class='partner'>
      <%= image_tag 'people.png', class: 'small-size' %>
    </a>

    <a href="http://jennacommunications.com/" target='_blank' class='partner'>
      <%= image_tag 'fox29.png', class: 'small-size translucent' %>
    </a>

  </div>
</section>
