<section class='featured-section pl-5 pr-5'>
  <h5 class='title white'>Featured On</h5>
  <div class='d-flex flex-wrap flex-row justify-content-around align-items-center'>

    <a href="http://6abc.com/technology/manestreem-app-brings-beauty-salon-to-your-door/1217111/" target='_blank' class='partner'>
      <%= image_tag 'abc.png', class: ' reduce' %>
    </a>
    
    <a href="https://www.youtube.com/watch?v=l1ZE4zSUoxw" target='_blank' class='partner'>
      <%= image_tag 'cbs.png', class: 'small-size' %>
    </a>

    <a href="https://mashable.com/2016/03/20/manestreem-app/#KhE79Go52PqE" target='_blank' class='partner'>
      <%= image_tag 'mashable.png', class: 'small-size' %>
    </a>

    <a href="http://people.com/style/on-demand-beauty-services-roundup/if-you-want-beauty-on-a-budget/" target='_blank' class='partner'>
      <%= image_tag 'people.png', class: 'small-size' %>
    </a>

    <a href="http://jennacommunications.com/2016/01/manestreem-the-uber-for-beauty-app-debuts-on-fox-29s-good-day/" target='_blank' class='partner'>
      <%= image_tag 'fox29.png', class: 'small-size translucent' %>
    </a>

  </div>
</section>
