<div class="title-bar team white-bg">
  <h3 class='title m-0 black'>Team</h3>
</div>

<section class='team purple-to-blue-bg'>
  <div class='row'>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'santos.jpg' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Santos Gonzalez - CEO</span>
          <p class="team-member-description">
            ManeStreem features leading minds in the business of health, wellness, beauty and where they intersect with technology. We focus on the modern ways people interact with the beauty space, from their smartphones and apps to reality TV. At Digital First Media, a partner of Google, Santos oversaw eight offices and 100 employees, accomplishing 200% year-on-year growth.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'isaac.jpg' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Isaac Nakash - President</span>
          <p class="team-member-description"> You likely know him from his work as a social media sensation, reaching millions of subscribers and leading the world’s largest beauty content generator on YouTube in 2016. Isaac’s innovative approach to commanding and retaining an online audience helped him generate more than one billion views. He is also an avid developer and has played a significant role in the creation of more than a dozen commercialized cross-platform applications.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'florian.jpg' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Florian Erlemann - CTO</span>
          <p class="team-member-description">
            ManeStreem Partner and Chief Technology Officer is Florian Erlemann, a leader in the development space with experience in team management as well as back-end and front-end development. Mr. Erlemann worked as a BlackBerry Elite developer before spending two years in the music industry, creating a Ben Horowitz-backed technology at Disruptive Multimedia.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'kim.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Kim Lincoln - Creative Director</span>
          <p class="team-member-description">
            Meet Kim Lincon, the lead designer owner of Lynx & Co. - a local design studio in N.Liberties. Her and her team are our go to designers for everything and anything Manestreem. She collaborated with a handful of small business, but also some heavy hitters such as some of M.Night Shyamalan, Sylvester Stallone, Elizabeth Arden and Adidas.
          </p>
        </div>
      </div>
    </div>

    <div class="d-none col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'team-picture-holder.png' %>")'></div>

        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Aaron Krause - Advisory Board</span>
          <p class="team-member-description">
            Aaron Krause is an accomplished entrepreneur and inventor with more than 20 years of experience in patenting and manufacturing innovative products. With patented products for major big-box retailers such as industry-giant 3M Company, Mr. Krause prides himself on hard work, dedication, and imagination.
          </p>
        </div>
      </div>
    </div>

    <div class="d-none col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'martino.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Martino Cartier  - Advisory Board</span>
          <p class="team-member-description">
            Salon Owner, Celebrity Stylist, Industry Educator, Philanthropist, and ManeStreem Brand Evangelist, Martino Cartier has expanded his reach beyond fashion and beauty, into the design and marketing of user-friendly styling tools and accessories.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'ryan.jpg' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Ryan Leslie  - Advisory Board</span>
          <p class="team-member-description">
            Also joining our Advisory Board is Ryan Leslie, a singer, songwriter and entrepreneur from Washington D.C. After graduating from Harvard with a degree in political science and macroeconomics at the age of 19, he began his career in the music industry where he built his own music-media company, NextSelection Lifestyle Group.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'jim_demarco.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Jim Demarco - Advisory Board</span>
          <p class="team-member-description">
            James DeMarco, a Daytime Emmy Winning Makeup Artist and skin care expert has been beautifying Hollywood’s leading ladies and men for seventeen years. James began his career both in front of and behind the camera in Philadelphia, his hometown. He appeared in the hit films UP CLOSE and PERSONAL, SNAKE EYES AND FALLEN.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'alan_zeiger.jpg' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Alan Zeiger - Advisory Board</span>
          <p class="team-member-description">
            Alan Zeiger most recently served as the head of Blank Rome’s Business Department, consisting of more than 250 attorneys practicing globally in numerous industries. He represents public and private companies and private equity funds, as well as entrepreneurs.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'joe.jpg' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Joe Messa - Advisory Board</span>
          <p class="team-member-description">
            Joseph L. Messa, Jr. is the founding partner of Messa & Associates, P.C. He is an AV-rated attorney (highest rating available), listed in the Bar Register of Preeminent Lawyers. Mr. Messa handles cases involving medical malpractice, products liability, transportation accidents, construction and workplace injuries, fire, medical device, drug products liability, and other fields of complex personal injury litigation.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'saransh_sharma.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Saransh Sharma - Advisory Board</span>
          <p class="team-member-description">
            Mr. Sharma has deep experience and perspective ranging over 18 years in the sectors of Financial Services Healthcare, Hospitality, Real Estate, Social Media, Aviation, Environmental Services and Entertainment. Mr. Sharma’s tenure started on Wall Street working for AllianceBernstein LP, an asset management company with over 890 Billion in assets under management.
          </p>
        </div>
      </div>
    </div>

    <div class="d-none col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'joe_messa.jpg' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Kenton Brookings - Advisory Board</span>
          <p class="team-member-description">
            Kenton Brookings is a savvy business professional whose career has spanned across many fields and professions from playing professional football in the NFL, to managing security for one of the nation's largest nightlife and entertainment companies.  Kenton, takes investor relations to a whole new level by marrying personal interaction with professionalism, that has gained him the respect and admiration from all walks of today's business world.
          </p>
        </div>
      </div>
    </div>

    <div class="d-none col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'joe_messa.jpg' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Denise Pereau - Vice President of Global Provider Services</span>
          <p class="team-member-description">
            ManeStreem’s VP of Global Service Providers takes the wheel, steering the rapidly growing provider base. Her experience commanding legendary projects, managing teams assembled from throughout the US, for L’Oreal’s Haute Coiffure Francaise, as Styles Director for the 50th year anniversary celebration in Paris, received a standing ovation from the international assemblage, and on Broadway for The International Art and Fashion Group on behalf of Revlon Professional. Denise’s impressive capability to bring out the best in others is evident as she sets the pace, leading by example.
          </p>
        </div>
      </div>
    </div>


  </div>
</section>
