<div class="title-bar team white-bg">
  <h3 class='title m-0 black'>Team</h3>
</div>

<section class='team purple-to-blue-bg'>
  <div class='row'>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'mason.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Mason Cohen - Co-founder & CEO</span>
          <p class="team-member-description">
            “Good vibes plus good energy equals a good life.”
            <br>
            <br>
            Mason is a consummate entrepreneur and with a strong Business acumen. Mason attends Drexel University, studying Entrepreneurship and Business. As the president of his graduating class, Mason co-founded the Future Enterprisers Club of HMHS. Mason is an out-of-the-box thinker and leader who finds creative solutions to everyday problems.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'adit.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Adit Gupta - Co-founder & CTO</span>
          <p class="team-member-description">
            “7 billion people in the world. Everyone has a unique VyB. Now, we can quantify it.”
            <br>
            <br>
            Adit is a student leader at Drexel University, studying Software Engineering and Mathematics. Adit is highly regarded throughout many industries as a public speaker, entrepreneur and mentor. With professional experiences, working with brands including Microsoft, SAP, CHOP, Comcast Corporation, and Susquehanna International Group LLC. in various technology and innovation related roles, Adit has a diverse and comprehensive understanding of industry and strives for technological advances.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'amy.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Amy Campbell - CSO</span>
          <p class="team-member-description">
            “VyB does not work without the people. The people don't work without VyB.”
            <br>
            <br>
            Amy is a Market development professional focused on name brand recognition with 15+ years of experience in the non-profit sector, specifically in Higher Education. Known as a charismatic, vibrant, outgoing leader with a demonstrated talent for building strong relationships. Strengths include strategic thinking, planning and problem solving in both the academic and private sectors. Knowledge of international customs, traditions and business operations.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'nico.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Nico Cohen - Co-founder & President</span>
          <p class="team-member-description">
            “VyB makes the digital world just a little less two-dimensional.”
            </br>
            <br>
            Nico is a tech savvy, business minded leader that attacks every day with a positive, can-do attitude. Nico started his first business at age 8, having started a mobile food and beverage delivery service. He later had his friends working with him as his employees. He entered the workforce at just at a young age, Nico quickly rose to the rank managing sales trainer. 
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>

    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'kevin.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Kevin Patrick - Co-founder & COO</span>
          <p class="team-member-description">
            "Don't dream it, live it"
            <br>
            <br>
            Kevin is the most experienced entrepreneur on the VyB team as an acclaimed business development expert. Kevin’s experience stands across several high tech, leading edge industries. Kevin is a graduate of the University of California, Berkeley and evenly applies his skill set to the development of early stage and growth stage companies. Kevin prides himself as a team builder and product innovator. As an award winning, world class tennis class tennis player and trainer, Kevin has developed tenacity, leadership, drive that make it unstoppable. 
          </p>
        </div>
      </div>
    </div>


    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'tom.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Tom Falzani - Head of Design</span>
          <p class="team-member-description">
            “If someone looks at a design and feels impacted, I consider that a successful design. Vyb does just that.”
            <br>
            <br>
            Tom Falzani is a twenty year old designer for Vyb. He is in his third year at Drexel University, where he majors in Graphic Design and minors in Software Engineering. He also is part of the AIGA Club and Blockchain Club. With experience in the design and the engineering field, he is able to communicate with the team and help express new ideas. Tom is also involved with the Blockchain Community in Philadelphia. He spends a lot of his free time researching blockchain and cryptocurrency projects.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>