<% provide(:home, "active") %>

<section class="jumbotron jumbotron-fluid m-0 d-flex flex-column justify-content-center align-items-start">

  <%= video_tag "ManeStreem_Beauty_at_the_TAP_OF_AN_APP_(online-video-cutter.com)-2.mp4", id: 'headline-video', class: 'headline-video', autoplay: false, loop: "loop", muted: true %>

  <div class='headline-image' style='background-image: url(<%= image_url 'haircut.png' %>)'></div>

  <div class='header main-headline reveal-jumbotron'>

    <h1 class='mb-0'>World's First On-Demand Beauty, Health <br>& Wellness Platform on Blockchain</h1>
    <p class='tagline mb-5'><small>Decentralizing health, beauty, and wellness with the largest global brands.</small></p>

    <!-- Buttons -->
    <div class='d-flex justify-content-start justify-sm-content-around'>
      <%= link_to 'Join ICO', new_user_registration_path, class: 'btn turquoise-btn mr-3' %>
      <%= link_to 'Whitepaper', asset_path("Manestreem_Express Whitepaper_ManeStreem Express WhitePaper V5 2018-VIEW.pdf"), target: :_blank, class: 'btn transparent-btn' %>
    </div>

    <!-- Social media icon links -->
    <div class='d-flex mt-5 social-media-links'>
      <a href="https://www.facebook.com/ManeStreemApp" target='_blank'><i class='ion-social-facebook royal-blue'></i></a>
      <a href="https://twitter.com/Manestreem" target='_blank'><i class='ion-social-twitter royal-blue'></i></a>
      <a href="https://www.linkedin.com/company/manestreem" target='_blank'><i class='ion-social-linkedin royal-blue'></i></a>
      <a href="https://www.instagram.com/manestreemapp/" target='_blank'><i class='ion-social-instagram royal-blue'></i></a>
    </div>
  </div>
</section>
<%= render 'featured_in' %>
<%= render 'what_is_manestreem' %>
<%= render 'beauty_on_tap' %>
<%= render 'features' %>
<%= render 'why_blockchain' %>
<%= render 'pricing' %>
<%= render 'team' %>
<%= render 'roadmap' %>
